.not-found {
    padding-top: 50px;
    padding-left: 50px;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: #FF0000;
}

.not-found img {
    width: 120px;
}